node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
storage/*.key
vendor
tests
.php_cs.cache
Homestead.json
Homestead.yaml
auth.json
*.md
!README.md
.DS_Store
Thumbs.db
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
